name: CI
on:
  pull_request: {}
  push:
    branches:
      - main
      - master

concurrency:
  group: ${{ github.ref_name }}
  cancel-in-progress: true

permissions:
    contents: read

jobs:
  Build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6
        with:
          fetch-depth: 0

      - uses: actions/setup-node@v6
        with:
          node-version: 20
      - run: |
          npm install -g yarn
      - name: Set up Go
        uses: actions/setup-go@v6
        with:
          go-version: "1.23"

      - name: Build
        run: make backend
